body {
    padding: 2rem 0;
    background-color: black;
    color: white;
}

img {
    width: 80%;
    /* height: 38rem; */
    position: absolute;
    /* left: -50px; */
}

.Nero {
    width: 80%;
    left: 7%;
}

.V {
    width: 63%;
    left: 10%;
}

.Carrossel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.bg {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.bg li {
    /* transform: skew(-20deg); */
    position: relative;
    overflow: visible;
    width: 20%;
    transform: scale(1);
    transition: ease-in-out all .3s;
}

.bg:has(li:hover) li:not(:hover) {
    transform: scale(0.9);
}

.bg li:hover {
    transform: scale(1.1);
}

.bg li:hover - li {
    transform: translateX(15px) scale(0.9);
}

.bg li:has(+ li:hover),
.bg li:has(+ li + li:hover),
.bg li:has(+ li + li + li:hover) {
    transform: translateX(-15px) scale(0.9);
}

.bg li:hover::before {
  background: #3498db;

}

.bg li:hover div {
    background: blue;
}

.bg li::before {
  content: "";
  position: absolute;

  top: 20px;
  bottom: 10px;

  left: -20px;
  right: 20px;

  background: grey;

  transform: skewY(-10deg);

  z-index: -1;
}

.bg li div {
    position: absolute;
    bottom: 20%;
    left: -12.3%;
    background-color: rgb(84, 84, 84);
    width: 120%;
    clip-path: polygon(
    0 0,
    100% 0,
    90% 100%,
    0 100%
  );
  text-align: center;
  padding: 1rem 2rem;
  font-size: 14px;
}

.bg li * {
    position: relative;
    z-index: 1;
}